.block {
    width: stretch;
    border: 1px solid black;
    padding: 10px;
    color: black !important;
}
.important {
    color: blue;
}

.block:hover::before {
    content: "BABAB";
}
.block:hover::after {
    content: "OAOAO";
}

.flex {
    display: flex;
    align-content: space-around;
    justify-content: flex-start;
    align-items: flex-start;
}

.grid {
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

* {
    box-sizing: border-box;
}
